<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Series Manager{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <!-- In base.html - modify the menu -->
        <div class="menu my-3">
            <span onclick="location.href='/';" class="menu-icon {% if active_section == 'current' %}active{% endif %}">Watching</span>
            <span onclick="location.href='/settings';" class="menu-icon {% if active_section == 'settings' %}active{% endif %}">
                <img src="{{ url_for('static', filename='logo_icon.png') }}" alt="Settings" class="logo-icon">
            </span>
            <span onclick="location.href='/?section=upcoming';" class="menu-icon {% if active_section == 'upcoming' %}active{% endif %}">Premiering</span>
        </div>

        {% block content %}{% endblock %}
        
        <script type="application/json" id="config-data">{{ config|tojson|safe }}</script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        {% block scripts %}{% endblock %}
    </div>
</body>
</html>